{% extends "base.html" %}

{% block title %}
 In HomePage
 {% endblock %}

 {% block content %} 

<h1>Welcome to TODO<h1>
{% if user.is_authenticated %}
<h2>Hello ,{{user.username}}</h2>
<h1><li><a href="/logout/">"Logout"</a></li></h1>
{% endif %}
<center>
<li><b><a href="/insertion/">"Insertion"</a></b></li>
<li><b><a href="/delete/">"Deletion"</a></b></li>
<li><b><a href="/viewdata/">"View Data"</a></b></li>
</center>
<right>
<li><b><a href="/books/">"BOOKS"</a></b></li>
</right>

{% endblock %}

